/*
** CSS PRINCIPAL
*/

html {
	height: 100%;
	color: white;
	background-image: url('/assets/images/background.jpg');
	-webkit-background-size: cover;
	-moz-background-size: cover;
	-o-background-size: cover;
	background-size: cover;
	background-repeat: no-repeat;
	background-position: center center;
	background-attachment: fixed;
}


/* Menu en haut a droite */

#menifonny_hype_container {
	position: absolute;
	top: 0px;
	right: 0px;
}

.rain {
	position: absolute;
	top: 0px;
	right: 0px;
	height: 100%; 
	width: 100%; 
	border: none;
	/* z-index: -1; */
}

.section-menu-home {
	height: calc(250px - 20px);
	width: calc(100% - (375px - 8px));
}

@media only screen and (max-width: 1024px) {
	.section-menu-home {
		height: 100%;
		width: 100%;
		margin-top: 250px;
	}
}

.section-page {
	text-align: center;
}

.section-loading {
	margin-top: 250px;
	text-align: center;
	font-size: 30px;
	font-family: "Avenir Next", Avenir, Helvetica, Arial, sans-serif;
	font-weight: bold; 
	letter-spacing: 1px;
	text-shadow: 0 0 4px #000;
	color: rgb(200, 176, 121);
}
.section-loading img {
	vertical-align:middle;
	height: 100px;
}
.section-loading p {
	display: inline-block;
	width: 300px;
	text-align: left;
	user-select : none;
}
