/*
** CSS PRINCIPAL
*/

body {
	background: url('/assets/images/background.jpg') no-repeat center fixed;
	-webkit-background-size: cover;
	/* pour anciens Chrome et Safari */
	background-size: cover;
	/* version standardisée */
	color: white;
	min-height: 100%;
}


/* Menu en haut a droite */

#menifonny_hype_container {
	position: absolute;
	top: 0px;
	right: 0px;
}
