/*
** CSS PRINCIPAL
*/

html {
	height: 100%;
	color: white;
	background-image: url('/assets/images/background.jpg');
	-webkit-background-size: cover;
	-moz-background-size: cover;
	-o-background-size: cover;
	background-size: cover;
	background-repeat: no-repeat;
	background-position: center center;
	background-attachment: fixed;
}

body {
	height: auto;
	overflow: auto;
}

/* Menu en haut a droite */

#menifonny_hype_container {
	position: absolute;
	top: 0px;
	right: 0px;
	z-index: 100;
}

.rain {
	position: absolute;
	top: 0px;
	right: 0px;
	height: 100%;
	width: 100%;
	border: none;
	z-index: 0;
}

.section-page {
	text-align: center;
	font-family: "Avenir Next", Avenir, Helvetica, Arial, sans-serif;
}

.section-loading {
	margin-top: 250px;
	text-align: center;
	font-size: 30px;
	font-family: "Avenir Next", Avenir, Helvetica, Arial, sans-serif;
	font-weight: bold;
	letter-spacing: 1px;
	text-shadow: 0 0 4px #000;
	color: rgb(200, 176, 121);
}

.section-loading img {
	vertical-align: middle;
	height: 100px;
}

.section-loading p {
	display: inline-block;
	width: 300px;
	text-align: left;
	user-select: none;
}


/* 404 */

.page-not-found {
	font-weight: bolder;
	font-size: 10rem;
	text-align: center;
	font-family: "Neucha", "Avenir Next", Avenir, Helvetica, Arial, sans-serif;
}

.page-not-found-message {
	font-size: 2rem;
	text-align: center;
	font-family: "Neucha", "Avenir Next", Avenir, Helvetica, Arial, sans-serif;
}

.page-not-found-link {
	position: absolute;
	left: 50%;
	z-index: 1;
}

.page-not-found-image {
	position: relative;
	left: -50%;
	width: 120px;
}

@media only screen and (max-width: 1024px) {
	.page-not-found-message {
		font-size: 1.5rem;
	}
	.page-not-found {
		font-size: 8rem;
	}
}

@media only screen and (max-width: 768px) {
	.page-not-found-message {
		font-size: 1.3rem;
	}
	.page-not-found {
		font-size: 5rem;
	}
}